
h1 {
	text-align: center;
	font-size: 100px;
}

h2 {
	text-align: center;
	font-style: none;
}

button {
	text-align: center;
	background-color: #f8f8f8;
 	border-style: none;
 	border: 1px solid black;
 	font-size: 13px;
 	font-weight: bold;
	padding-top: 10px;
 	padding-bottom: 10px;
 	padding-left: 15px;
 	padding-right: 15px;
}

#wrapper {
	float: none;
	width: 700px;
	height: 700px;
	border: 1px solid black;
}

.grid {

	float: left;
	clear: right;
	border: 1px solid black;
	height: auto;
	width: auto;

}

.black {

	background-color: black;
}
